body{
    background-color: #024959;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(2%,#024959),color-stop(108%,#d9b29c));
    background-image: linear-gradient(#024959 2%,#d9b29c 108%);
    color: #ffffff;
    min-height: 100vh;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

a{
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 5px;
    display: block;
    padding: 10px 20px;
    max-width: 400px;
    margin: 0 auto 15px auto;
    text-decoration: none;
    transition: all 400ms ease-in-out;
    
}

a:hover {
    background: #A66249;
    color: #ffffff;
}

h2{
    font-size: 15px;
    text-transform: capitalize;
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: 20px;
}